<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Journalv2</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= stylesheet_link_tag    "main", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <style>
      body {
        padding-top: 150px;
        padding-bottom: 40px;
      }
    </style>
  </head>


  <%= yield %>

</body>
</html>
